<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rein.android.ReynTestApp">

    <uses-permission android:name="ru.evotor.permission.COMBINED" />
    <uses-permission android:name="ru.evotor.permission.receipt.printExtra.SET" />
    <uses-permission android:name="ru.evotor.permission.receipt.print.INTERNET_RECEIPT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ru.evotor.permission.PAYMENT_SYSTEM" />
    <uses-permission android:name="ru.evotor.permission.PRINT_Z_REPORT" />
    <uses-permission android:name="ru.evotor.permission.PAYMENT_SYSTEM" />
    <uses-permission android:name="ru.evotor.permission.BINARY_NETWORK"/>

    <!-- Разрешение на использование службы для работы с чеком продажи  -->
    <uses-permission android:name="ru.evotor.permission.SELL_INTEGRATION_SERVICE" />
    <!-- Разрешение на использование службы для работы с чеком возврата  -->
    <uses-permission android:name="ru.evotor.permission.PAYBACK_INTEGRATION_SERVICE" />
    <!-- Разрешение на использование службы для работы с чеком покупки  -->
    <uses-permission android:name="ru.evotor.permission.BUY_INTEGRATION_SERVICE" />
    <!-- Разрешение на использование службы для работы с чеком возврата покупки  -->
    <uses-permission android:name="ru.evotor.permission.BUYBACK_INTEGRATION_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="app_uuid"
            android:value="31138179-5106-4084-8ea1-17039ea9bf6e" />

        <receiver
            android:name=".MyCloseReceiptEvent"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="evotor.intent.action.receipt.sell.RECEIPT_CLOSED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyPaymentService"
            android:enabled="true"
            android:exported="true"
            android:icon="@android:drawable/ic_dialog_map"
            android:label="Другая платежная система">
            <meta-data
                android:name="ru.evotor.sales_screen.BACKGROUND_COLOR"
                android:value="@android:color/holo_green_light" />
            <meta-data
                android:name="ru.evotor.paymentSystem.PAYMENT_SYSTEM_ID"
                android:value="31138179-5106-4084-8ea1-17039ea9bf6e" />

            <intent-filter>
                <action android:name="evo.v2.receipt.paymentSystem" />
            </intent-filter>
        </service>

        <receiver
            android:name=".PrintActivity"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="evotor.intent.action.receipt.sell.RECEIPT_CLOSED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyDiscountService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="evo.v2.receipt.sell.receiptDiscount" />
                <!-- Подписывает службу на событие ReceiptDiscountEvent и указывает смарт-терминалу отображать иконку приложения на экране оплаты чека возврата. -->
                <action android:name="evo.v2.receipt.payback.receiptDiscount" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EVOTOR" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="ru.evotor.launcher.BACKGROUND_COLOR"
                android:value="#F05023" />
        </activity>
        <activity
            android:name=".ActivityWebView"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name=".SplitPaymentService"
            android:enabled="false"
            android:exported="true">
            <intent-filter>

                <!-- выбрана оплата чека продажи -->
                <action android:name="evo.v2.receipt.sell.payment.SELECTED" />
                <!-- выбрана оплата чека возврата -->
                <action android:name="evo.v2.receipt.payback.payment.SELECTED" />
            </intent-filter>
        </service>

        <receiver
            android:name=".PushReceiver"
            android:permission="ru.evotor.pushnotifications.PUSH_SENDER">
            <intent-filter>
                <action android:name="ru.evotor.pushnotifications.PUSH_RECEIVED_EVENT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ChangePositions"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="evo.v2.receipt.sell.beforePositionsEdited" />
            </intent-filter>
        </service>
        <service
            android:name=".MyPrintService"
            android:enabled="false"
            android:exported="true">
            <intent-filter>

                <!-- Печать произвольных данных в чеке продажи -->
                <action android:name="evo.v2.receipt.sell.printExtra.REQUIRED" />
                <!-- Печать произвольных данных в чеке возврата -->
                <action android:name="evo.v2.receipt.payback.printExtra.REQUIRED" />
                <!-- Печать произвольных данных в чеке покупки -->
                <action android:name="evo.v2.receipt.buy.printExtra.REQUIRED" />
                <!-- Печать произвольных данных в чеке возврата покупки -->
                <action android:name="evo.v2.receipt.buyback.printExtra.REQUIRED" />
            </intent-filter>
        </service>
        <service
            android:name=".SplitReceiptWithPrintGroupsService"
            android:enabled="false"
            android:exported="true">
            <intent-filter>

                <!-- будет напечатан чек продажи -->
                <action android:name="evo.v2.receipt.sell.printGroup.REQUIRED" />
                <!-- будет напечатан чек возврата -->
                <action android:name="evo.v2.receipt.payback.printGroup.REQUIRED" />
                <!-- будет напечатан чек покупки -->
                <action android:name="evo.v2.receipt.buy.printGroup.REQUIRED" />
            </intent-filter>
        </service>

        <service
            android:name=".MyAdditionalScreenEvent"
            android:enabled="true"
            android:exported="true"
            android:permission="ru.evotor.permission.SELL_INTEGRATION_SERVICE">
            <!-- служба использует необходимое разрешение -->
            <intent-filter>
                <!-- добавляет иконку на экран оплаты чека -->
                <action android:name="ru.evotor.event.sell.DISCOUNT_SCREEN_ADDITIONAL_ITEMS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <activity android:name=".MyPaymentActivity" />
    </application>

</manifest>